@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>KOKC (Kenyan's In Oklahoma City)</h2>
    <p class="lead">Welcome to KOKC - Website dedicated to Kenyans living in the diaspora specifically in Oklahoma City </p>
    <p><a href="https://www.kenyamoja.com/" target="_blank" class="btn btn-primary btn-lg">what's happening in kenya &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kenyan Community</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Goal</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Essentials</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>